<?xml version="1.0"?>
<launch>

    <param name="maxlen"          type="double" value="15.0" />    
    <param name="minlen"          type="double" value="0.0" />    
    <param name="max_ang_FOV"     type="double" value="3.141692" />
    <param name="min_ang_FOV"     type="double" value="0.0" />
    <param name="pcTopic"         type="str"    value="/robot/top_3d_laser/rslidar_points" />
    <param name="imgTopic"        type="str"    value="/robot/front_ptz_camera/image_color" />
    
    <param name="x_resolution"    type="double" value="0.25" />
    <param name="y_interpolation" type="double" value="10.0" />
    <param name="ang_Y_resolution"    type="double" value="2.05" />
    <param name="angular_correction"    type="double" value="0.0" />

    <group ns="matrix_file">
        <rosparam file="$(find lidar_camera_fusion)/cfg/cfg_params.yaml" />
    </group>
    
    <node pkg="lidar_camera_fusion" type="lidar_camera_node" name="lidar_camera_node" output="screen"/>
  
</launch>
